{% extends 'base.html' %}

{% block content %}
<style>
  table {  text-align: center; color:green; background: powderblue}
  td{ color: blue; background:   #f2f3f4   } 
  th{ padding-right: 200px}
</style>
<table class="table table-bordered">
    <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <td><a class="btn btn-primary" href="{% url 'edit-contact' contact.id %}">Edit</a>
            <a href="{% url 'delete-contact' contact.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<a href="{% url 'add_contact' %}" class="btn btn-primary">Add new contact </a>


{% endblock %}