{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
          <th>Purpose</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.purpose }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'edit-expense' expense.id %}">Edit</a>
                <a class="btn btn-danger" onclick="confirm('Hello world!')" href="{% url 'delete-expense' expense.id %}" >Delete</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
  <a href="{% url 'add_expense' %}" class="btn btn-info" >Add New Expense</a>

{% endblock %}